---
layout: default
title: Home
---
<!--  <div class="post-content">
<h1>
    Welcome!
  </h1>  </div>  -->
<p style="font-size:32px"> Welcome! :) </p>
   

  <article>
    <h2> Intro & Bio </h2>
<img src="assets/img/bio-1.jpg" alt="bio images" width="450" /> 

    <body> 
<p>
Hello! I’m Petrina, a 2nd year HCDE master’s student. Previously, I worked in psychology research at NYU and the MIT Media Lab, and also have an academic background in science, technology, and society, and art. In my free time I like to bird watch, 
    do <a href="https://www.instagram.com/chan_stagram/">photography</a>, <a href="https://www.instagram.com/petrin.arts/">draw</a>, and cook!
</p>

 <p>
 I’ve long been interested and intrigued by digital fabrication since I’ve dabbled in different kinds of physical craft and specialize in 2D digital illustration. I have had a little bit of exposure to 3D modeling in the past when I create stimuli for psychology studies, but had little instruction and time to really develop useful skills and good practices. I’m excited to gain a foundational knowledge of digital fabrication techniques that I can take with me and apply both professionally and for fun! 
    Of course I can't wait for all the cool little things we will make in this class because one can never have enough trinkets (except minimalists I guess).
</p>

 <p>
I have a lot of experience with Photoshop and Illustrator, so I’m always happy to try to help people out! And if you ever need help identifying a bird or new places to eat/drink, let me know! </body>
 </p>
 </article>
 
<p style="font-size:32px"> <br>  Assignments </p>
</div> 

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
